@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');



html {
    font-family: 'Play';

}

/* styles.css */
header {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    position: absolute;
    width: 100%;
    top: 0;
}

/* Стилизация стрелок для Chrome, Safari и Edge (в основе WebKit) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    
    padding: 5px; /* Убираем отступы */
    height: 18px;
    border: 1px solid rgb(105, 105, 105);
}




#search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

.suggestions {
    position: absolute;
    top: 50px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.product-card {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #ddd;
    padding: 20px;
    background: #f3f3f3;
    margin: 10px 0;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    display: inline-block; /* Изменение блока на inline-block */
    width: 1145px; /* Ограничение максимальной ширины, чтобы избежать переполнения */
    height: 1140px;
    box-sizing: border-box; /* Учет padding и border в ширину */
}



.product-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.product-card select,
.product-card input {
    display: block;
    margin: 10px 0;
}

.meal-products {
    
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.meal-total {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f8f8f8;
    
}

.max {
    position: absolute;
    top: 70px;
    margin: 5px;
}

.product-entry {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ddd;

}

.product-entry span {
    flex: 1;
}


.input {
    font-family: 'Play';
}







/* Стили для таблиц в приемах пищи */
.table-container {
    margin-bottom: 20px;
}

.meal-products table, .meal-total table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.meal-products th, .meal-total th {
    background-color: #f4f4f4;
    padding: 8px;
    width: 200px;
    text-align: left;
    border: 1px solid #ddd;
}

.meal-products td, .meal-total td {
    padding: 8px;
    border: 1px solid #ddd;
    width: 200px;
}

.meal-products th, .meal-total th {
    background-color: #f4f4f4;
}

.product-entry-item {
    padding: 8px;
    border: 1px solid #ddd;
}

.remove-btn {
            cursor: pointer;
            color: red;
        }
        .draggable {
            cursor: move;
        }




        .calendar-overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
        
        .calendar-container {
            background: #fff;
            padding: 20px;
            border-radius: 5px;
            text-align: center;
        }
        
        .calendar-container input[type="date"] {
            margin-bottom: 10px;
        }
        
        .calendar-container button {
            margin: 5px;
        }









        /* Стили для кнопки с треугольником */
/* Стили для кнопки */
.profile-btn {
    background-color: #a0a0a0;
    color: white;
    border: none;
    pointer-events: auto; /* Включает взаимодействие с кнопкой */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    position: absolute;
    top: 5px; /* Вертикально центрирует кнопку в родителе */
    right: 10px; /* Отступ от правого края родителя */
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 5;
}

.profile-btn:hover {
    background-color: #0056b3;

}

.profile-btn:active {
    background-color: #004494;
}

/* Стили для модального окна */
.profile-modal {

    top: 10%;
    left: 50%;
    transform: translate(-50%, -0%);
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 550px;
    display: none;
    z-index: 1000;
    position: fixed;
}

.profile-modal.active {
    display: block;
}

.profile-modal .close-btn {
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: color 0.3s;
}

.profile-modal .close-btn:hover {
    color: #ff0000;
}

.profile-modal label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.profile-modal input[type="text"],
.profile-modal input[type="number"],
.profile-modal select {
    width: 250px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.profile-modal p {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}



.bold-text {
    font-weight: bold;
}

.product-name {
    position: absolute;
    top: 5px;
    left: 185px;
}

.manufacturerOrSeller {
    position: absolute;
    top: 135px;
    left: 185px;
}


.product-image {
    border-radius: 10px; /* Закругление углов */
    width: 150px; /* Занимает всю ширину контейнера */
    max-width: 150px; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Небольшая тень для эффекта */
    object-fit: cover; /* Сохранение пропорций и обрезка по контейнеру, если нужно */
}

/* Контейнер для индикаторов RAW и Vegan */
.indicators-container {
    position: absolute;
    top: 60px;
    left: 185px;
    display: flex;
    flex-direction: row; /* Горизонтальное расположение элементов */
    align-items: center; /* Вертикальное выравнивание по центру */
    gap: 10px; /* Отступ между индикаторами */
    background-color: #e0e0e04f;
    border: 1px solid #b1b1b170;
    border-radius: 10px;
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    width: fit-content; /* Контейнер будет адаптироваться под содержимое */
}

.raw-info,
.vegan-info {
    background-color: #28a745; /* Зеленый цвет фона */
    color: white; /* Белый цвет текста */
    padding: 5px 10px; /* Отступы внутри элемента */
    border-radius: 5px; /* Скругленные углы */
    display: inline-block; /* Отображение как блочный элемент с размером по контенту */
    font-weight: bold; /* Жирный текст */
    text-align: center; /* Центрирование текста */
    white-space: nowrap; /* Предотвращение переноса текста */
    
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Небольшая тень */
    cursor: pointer;
}

.product-weight {
    
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px; /* Скругленные углы */
    padding: 5px 10px;
    width: 100px;
    transition: all 0.5s;
}

.product-weight:hover {
    border-color: #3e9bff;
}

.processing-method {
    
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px; /* Скругленные углы */
    padding: 5px 10px;
    width: 150px;
    transition: all 0.5s;
}

.processing-method:hover {
    border-color: #3e9bff;
}

.serving-size {
    
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px; /* Скругленные углы */
    padding: 5px 10px;
    width: 200px;
    transition: all 0.5s;
}

.serving-size:hover {
    border-color: #3e9bff;
}

.serving-amount {
    
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px; /* Скругленные углы */
    padding: 5px 10px;
    width: 50px;
    transition: all 0.5s;
}

.serving-amount:hover {
    border-color: #3e9bff;
}

.meal-time {
    
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px; /* Скругленные углы */
    padding: 5px 10px;
    width: 250px;
    transition: all 0.5s;
}

.meal-time:hover {
    border-color: #3e9bff;
}


/* Стили для контейнера с витаминами */
.vitamins-container {
    position: absolute;
    top: 165px;
    left: 490px;
    
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 290px;
    overflow-y: auto;
    height: 400px;
}

.vitamins-container h4 {
    margin-top: 0;
    font-size: 1.0em;
    color: #333;
}

.vitamins-container p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

.vitamins-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.vitamins-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Цвет полосы прокрутки */

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.vitamins-container::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Цвет трека (фона) полосы прокрутки */
    border-radius: 5px 5px 0 0; /* Закругление только правых верхнего и нижнего углов */
}

.vitamins-container::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Цвет полосы прокрутки при наведении */
}





/* Стили для контейнера с минералами */
.minerals-container {
    position: absolute;
    top: 165px;
    left: 810px;
    
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 290px; 
    overflow-y: auto;
    height: 400px;
}

.minerals-container h4 {
    margin-top: 0;
    font-size: 1.0em;
    color: #333;
}

.minerals-container p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

.minerals-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.minerals-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Цвет полосы прокрутки */

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.minerals-container::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Цвет трека (фона) полосы прокрутки */
    border-radius: 5px 5px 0 0; /* Закругление только правых верхнего и нижнего углов */
}

.minerals-container::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Цвет полосы прокрутки при наведении */
}

/* Стили для контейнера с жирами */
.fats-container {
    position: absolute;
    top: 595px;
    left: 490px;
    
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 380px; 
    overflow-y: auto;
    height: 200px; 
}

.fats-container h4 {
    margin-top: 0;
    font-size: 1.0em;
    color: #333;
}

.fats-container p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

.fats-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.fats-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Цвет полосы прокрутки */

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.fats-container::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Цвет трека (фона) полосы прокрутки */
    border-radius: 5px 5px 0 0; /* Закругление только правых верхнего и нижнего углов */
}

.fats-container::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Цвет полосы прокрутки при наведении */
}

/* Стили для контейнера с жирами */
.amino-acids-container {
    position: absolute;
    top: 825px;
    left: 490px;
    
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;
    width: 380px; 
    overflow-y: auto;
    height: 200px;  
}

.amino-acids-container h4 {
    margin-top: 0;
    font-size: 1.0em;
    color: #333;
}

.amino-acids-container p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #555;
}

.amino-acids-container::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.amino-acids-container::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Цвет полосы прокрутки */

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.amino-acids-container::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Цвет трека (фона) полосы прокрутки */
    border-radius: 5px 5px 0 0; /* Закругление только правых верхнего и нижнего углов */
}

.amino-acids-container::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Цвет полосы прокрутки при наведении */
}












/* Стили для индикатора ИМТ */
.bmi-indicator {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(110, 110, 110, 0.466);
    border-radius: 10px;
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

/* Цвета для различных категорий ИМТ */
.bmi-acute-deficit {
    background-color: rgb(187, 187, 255);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-insufficient {
    background-color: rgb(196, 240, 255);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-normal {
    background-color: rgb(115, 255, 115);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-overweight {
    background-color: rgb(255, 255, 122);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-obesity-1 {
    background-color: rgb(255, 210, 127);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-obesity-2 {
    background-color: rgb(255, 166, 125);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

.bmi-obesity-3 {
    background-color: rgb(255, 131, 131);
    color: black; /* Можно использовать черный текст на светлом фоне */
}

/* Стили для всплывающей подсказки */
.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip::after {
    content: attr(data-tooltip); /* Используем атрибут для текста подсказки */
    position: absolute;
    bottom: 125%; /* Располагаем над элементом */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    background-color: #333;
    color: #fff;
    border-radius: 10px; /* Более закругленные углы */
    white-space: pre-line; /* Поддержка переноса строк */
    font-size: 14px;
    opacity: 0;
    pointer-events: none; /* Скрываем возможность взаимодействия */
    transition: opacity 0.3s ease;
    z-index: 1000;
    width: max-content;
    max-width: 300px; /* Ограничиваем ширину подсказки */
    text-align: center;
}

.tooltip:hover::after {
    opacity: 1;
    pointer-events: auto;
}







/* Основной стиль для контейнера с ГИ */
.glycemic-index-container {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(110, 110, 110, 0.233);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

/* Стиль для значения ГИ */
.glycemic-index-value {
    font-weight: bold;
    color: white;
}

/* Общий стиль для всплывающего окна ГИ */
.glycemic-index-tooltip {
    display: none;
    position: absolute;
    top: 50px;
    height: 350px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    z-index: 10;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показ подсказки при наведении на контейнер */
.glycemic-index-container:hover .glycemic-index-tooltip {
    display: block;
}

/* Стиль для подсвеченной нормы */
.highlight {
    font-weight: bold;
}

/* Фон подсвеченной нормы ГИ */
.low-gi.highlight {
    background-color: #28a745; /* Зеленый цвет для низкого ГИ */
    color: white;
}

.medium-gi.highlight {
    background-color: rgba(124, 124, 35, 0.863); /* Оливковый цвет для среднего ГИ */
    color: white;
}

.high-gi.highlight {
    background-color: rgba(189, 77, 77, 0.685); /* Красный цвет для высокого ГИ */
    color: white;
}

/* Основной стиль для контейнера ГН внутри всплывающего окна */
.glycemic-load-container {
    margin-top: 20px;
    padding-top: 12px;
    border-top: 1px solid gray;
}

/* Стиль для значения ГН */
.glycemic-load-value {
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Стиль для всплывающей подсказки ГН */
.glycemic-load-tooltip {
    display: block;
    
    color: white;

    
    
}

/* Общий стиль для текста подсказки ГИ и ГН */
.glycemic-index-tooltip p, .glycemic-load-tooltip p {
    margin: 5px 0;
    padding: 5px;
    border-radius: 5px;
}

/* Фон подсвеченной нормы ГН */
.low-gl.highlight {
    background-color: #4caf50; /* Зеленый цвет для низкого ГН */
    color: white;
}

.medium-gl.highlight {
    background-color: rgba(124, 124, 35, 0.863); /* Оливковый цвет для среднего ГН */
    color: white;
}

.high-gl.highlight {
    background-color: rgba(255, 82, 82, 0.8); /* Красный цвет для высокого ГН */
    color: white;
}






/* Основной стиль для контейнера с ОВП */
.orp-container {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(110, 110, 110, 0.233);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

/* Стиль для значения ОВП */
.orp-value {
    font-weight: bold;
    color: white;
}

/* Общий стиль для всплывающего окна ОВП */
.orp-tooltip {
    display: none;
    position: absolute;
    top: 50px;
    height: 350px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    z-index: 10;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показ подсказки при наведении на контейнер */
.orp-container:hover .orp-tooltip {
    display: block;
}

/* Стиль для подсвечивания соответствующей нормы */
.highlight {
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

/* Стиль для рекомендаций */
.orp-recommendation {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
    color: #ccc;
}




/* Основной стиль для контейнера с ОВП */
.ph-container {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid rgba(110, 110, 110, 0.233);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

/* Стиль для значения ОВП */
.ph-value {
    font-weight: bold;
    color: white;
}

/* Общий стиль для всплывающего окна ОВП */
.ph-tooltip {
    display: none;
    position: absolute;
    top: 50px;
    height: 400px;
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    z-index: 10;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Показ подсказки при наведении на контейнер */
.ph-container:hover .ph-tooltip {
    display: block;
}

/* Стиль для рекомендаций */
.ph-recommendation {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
    color: #ccc;
}

/* Стиль для описания продукта в карточке, общий */
.description-product-in-card {
    width: 450px;
    max-height: 120px;
    border: 1px solid #afafaf;
    border-radius: 10px;
    padding: 5px;
    overflow-y: auto;
    background-color: #ffffff;
}



/* Стиль для описания значения продукта в карточке */
.description-in-italics {
    font-size: 0.9em;
    font-style: italic;
    margin-top: 10px;
    color: #333333;
}

.description-product-in-card::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
}

.description-product-in-card::-webkit-scrollbar-thumb {
    background-color: #d3d3d3; /* Цвет полосы прокрутки */

    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.description-product-in-card::-webkit-scrollbar-track {
    background-color: #f1f1f100; /* Цвет трека (фона) полосы прокрутки */
    border-radius: 5px 5px 0 0; /* Закругление только правых верхнего и нижнего углов */
}

.description-product-in-card::-webkit-scrollbar-thumb:hover {
    background-color: #b3b3b3; /* Цвет полосы прокрутки при наведении */
}

.modification-panel {
    width: 440px;
    border: 1px solid #afafaf71;
    border-radius: 10px;
    padding: 10px; 
    background-color: #e2e2e2;
}







/* Основная стилизация контейнера витаминов */
.vitamins-container {
    margin: 20px 0;
}

.vitamins-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.vitamins-table th, .vitamins-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.vitamins-table th {
    font-size: 14px;
}


.vitamins-table td {
    font-size: 12px;
}

.vitamins-table th {
    background-color: #f4f4f4;
    color: #333;
}

.vitamins-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Индикатор суточной нормы */
.indicator {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    width: 80px;
}

/* Всплывающее окно для суточной нормы */
/*
.indicator::after {
    content: attr(title);
    display: none;
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 100;
}

.indicator:hover::after {
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(85, 85, 85);
    padding: 10px;
    border-radius: 10px;
}

*/





.minerals-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.minerals-table th, .minerals-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.minerals-table th {
    font-size: 14px;
}


.minerals-table td {
    font-size: 12px;
}

.minerals-table th {
    background-color: #f4f4f4;
    color: #333;
}

.minerals-table tr:nth-child(even) {
    background-color: #f9f9f9;
}







.fats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.fats-table th, .fats-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.fats-table th {
    font-size: 14px;
}


.fats-table td {
    font-size: 12px;
}

.fats-table th {
    background-color: #f4f4f4;
    color: #333;
}

.fats-table tr:nth-child(even) {
    background-color: #f9f9f9;
}




.amino-acids-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.amino-acids-table th, .amino-acids-table td {
    border: 1px solid #ddd;
    padding: 4px;
    text-align: left;
}

.amino-acids-table th {
    font-size: 14px;
}


.amino-acids-table td {
    font-size: 12px;
}

.amino-acids-table th {
    background-color: #f4f4f4;
    color: #333;
}

.amino-acids-table tr:nth-child(even) {
    background-color: #f9f9f9;
}


.h-toxic {
    padding-top: 15px;
    
}





/* Стили для индикатора рейтинга питательности */
.rating-container {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}

.rating-container .indicator {
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    padding: 5px 0px;
    border-radius: 7px;
    display: inline-block;
    cursor: help;
}

/* Стили для всплывающего окна */
.rating-container [title] {
    position: relative;
    display: inline-block;
}

.rating-container [title]::after {
    content: attr(title);
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 7px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.rating-container [title]:hover::after {
    opacity: 1;
}





.bju-widget {
    position: relative;
    left: 0px;
    margin-top: 10px;
    margin-left: 0px;
    text-align: center;
    width: 350px;
    height: 140px;
    
    padding: 10px;
    
    border: 1px solid #ddd;
    border-radius: 15px;
    background-color: #f9f9f9;


    z-index: 10;
}

.bju-widget h4 {
    position: relative;
    top: -20px;
}

.bju-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    top: -50px;
}



.bju-chart-container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    
    top: -31px;
}

.bju-legend {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -31px;
    
}

.bju-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.bju-color {
    width: 15px;
    height: 15px;
    display: inline-block;
    margin-right: 5px;
}

.bju-label {
    
    font-size: 14px;
    text-align: left;
}







    
    







    
    
























































